body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: url("mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

* {
  margin: 10px;
}

ol, ul {
  margin: 0;
  padding: 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.reset {
  background-color: purple;
  color: orange;
  border-radius: 5px;
  width: 100%;
  /* margin-top: 10px; */
}

.reset:hover {
  background-color: orange;
  color: purple;
  cursor: pointer;
}

ol {
  list-style: none;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 48px;
  color: purple
}

.status{
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  color: purple
}

.square {
  background-color: rgba(255,140,0, .5);
  border: 3px solid purple;
  float: left;
  font-size: 225px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  color: white;
  cursor: crosshair;
  box-shadow: 10px 10px 30px purple;
}

.square:hover {
  background-color: rgba(255,215,0, .5);
  color: orange;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
