

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-image: url("mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

* {
  margin: 10px;
  outline: none;
}

ol, ul {
  margin: 0;
  padding: 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.reset {
  background-color: #4f6282;
  color: rgb(242,64,2);
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 10px;
  /* margin-top: 10px; */
}

.reset:hover {
  background-color: rgb(244, 168, 111);
  color: #4f6282;
  cursor: pointer;
}

ol {
  list-style: none;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 48px;
  color: #fff;
}

.status{
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.square {
  background-color: rgba(242,64,2, .5);
  border: 3px solid #4f6282;
  float: left;
  font-size: 225px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  color: white;
  cursor: crosshair;
  box-shadow: -5px 5px 3px rgba(79, 98, 130, .5);
}

.square:hover {
  background-color: rgba(242, 171, 114, .5);
  color: rgb(242,64,2);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
