body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: yellow;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.reset {
  background-color: purple;
  color: orange;
  border-radius: 5px;
}

.reset:hover {
  background-color: orange;
  color: purple;
  cursor: pointer;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 48px;
  color: purple
}

.square {
  background-color: orange;
  border: 3px solid purple;
  float: left;
  font-size: 96px;
  font-weight: bold;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
  color: white;
  cursor: crosshair;
}

.square:hover {
  background-color: yellow;
  color: orange
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
